<a href="https://colab.research.google.com/github/ChaelinL/Pandas_Study/blob/main/11_%EC%8B%9C%EB%A6%AC%EC%A6%88_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%97%B0%EA%B2%B0%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 시리즈 데이터 만들기
import pandas as pd

s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])

print(s1)
print(s2)

0    a
1    b
dtype: object
0    c
1    d
dtype: object

**시리즈 데이터 합치기**

In [ ]:
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

**데이터를 병합하여 새로운 인덱스 만들기**

In [ ]:
pd.concat([s1, s2], ignore_index=True)

0    a
1    b
2    c
3    d
dtype: object

**계층적 인덱스를 추가하고 열 이름 지정하기**

In [ ]:
pd.concat([s1, s2], keys=['s1', 's2'], names=['Series name', 'Row ID'])

Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object