<a href="https://colab.research.google.com/github/ChaelinL/Pandas_Study/blob/main/12_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%94%84%EB%A0%88%EC%9E%84_%EC%97%B0%EA%B2%B0%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df1 = pd.DataFrame([['a', 1], ['b', 2]], columns=['letter', 'number'])
df2 = pd.DataFrame([['c', 3], ['d', 4]], columns=['letter', 'number'])
df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']], columns=['letter', 'number', 'animal'])
df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']], columns=['animal', 'name'])

print(df1), print(df2), print(df3), print(df4)

  letter  number
0      a       1
1      b       2
  letter  number
0      c       3
1      d       4
  letter  number animal
0      c       3    cat
1      d       4    dog
   animal    name
0    bird   polly
1  monkey  george

(None, None, None, None)

**데이터 프레임 합치기**

In [ ]:
pd.concat([df1, df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

**열의 수가 다른 두 데이터 프레임 합치기**

In [ ]:
pd.concat([df1, df3])

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

**함께 공유하는 열만 합치기**

In [ ]:
pd.concat([df1, df3], join='inner')

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

**열 이름이 서로 다른 데이터 합치기**

In [ ]:
pd.concat([df1, df4], axis=1)

  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george