<a href="https://colab.research.google.com/github/ChaelinL/Pandas_Study/blob/main/1%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C4_%EC%9D%B4%EC%B1%84%EB%A6%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**데이터 분석을 위한 판다스 과제**

다음은 붓꽃(iris)의 3가지 종(setosa, versicolor, virginica)에 대한 꽃받침(sepal)과 꽃잎(petal)의 길이(length)와 너비(width)를 정리한 데이터입니다.  
주어진 코드를 이용하여 문제를 풀어 보세요.
<br/><br/>
\* ___ 안에 들어갈 코드를 작성하시면 됩니다._

In [ ]:
import pandas as pd
import seaborn as sns
df = sns.load_dataset('iris')   # seaborn 패키지에서 사용할 수 있는 내장 데이터 중 iris 데이터셋(pandas dataframe 형태)을 불러옵니다.
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

####**1. 처음부터 5번째 인덱스까지 불러오시오.**

In [ ]:
df.iloc[:5]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

####**2. 모든 인덱스를 불러오시오.**

In [ ]:
df.iloc[:]

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

####**3. 종(species) 열의 데이터만 가져오시오.**

In [ ]:
df.iloc[:,-1:]    # 행은 전체 추출하고, 열은 마지막 열만 추출합니다.

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

####**4. 꽃잎(petal)에 대한 정보를 담고 있는 열을 가져오시오.**

In [ ]:
df[['petal_length','petal_width']]

     petal_length  petal_width
0             1.4          0.2
1             1.4          0.2
2             1.3          0.2
3             1.5          0.2
4             1.4          0.2
..            ...          ...
145           5.2          2.3
146           5.0          1.9
147           5.2          2.0
148           5.4          2.3
149           5.1          1.8

[150 rows x 2 columns]

####**5. 꽃받침(sepal)에 대한 정보를 담고 있는 열을 가져오시오.**

In [ ]:
df.filter(like='sepal')    # 열 이름에 sepal 문자열을 포함하면 출력하라는 의미입니다.

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]