<a href="https://colab.research.google.com/github/ChaelinL/Pandas_Study/blob/main/1%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C1_%EC%9D%B4%EC%B1%84%EB%A6%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.판다스 라이브러리 불러오기
import를 통해 판다스 라이브러리를 불러오자.

In [ ]:
import pandas as pd

##2.데이터 프레임 만들기
아래 사진과 같이 데이터 프레임을 만들어보자.

![image.png]()

In [ ]:
df = pd.DataFrame(
    {"survived":[0,1,1,1,0],
     "pclass":[3,1,3,1,3],
     "sex":['male','female','female','female','male'],
     "age":[22.0,38.0,26.0,35.0,35.0]}
)

##3.데이터 프레임 출력하기
2번에서 만든 데이터 프레임을 출력해보자.

In [ ]:
df

   survived  pclass     sex   age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

##4.데이터의 열 이름을 따로 지정해서 만들기
2번 문제의 데이터 프레임을 열 이름을 따로 지정하여 만들어보자.

![image.png]()

In [ ]:
df = pd.DataFrame(
    [[0,3,'male',22.0],
     [1,1,'female',38.0],
     [1,3,'female',26.0],
     [1,1,'female',35.0],
     [0,3,'male',35.0]],
     columns=['survived', 'pclass', 'sex', 'age']
)

df

   survived  pclass     sex   age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

##5.인덱스가 두 개인 데이터 프레임 만들기
인덱스를 튜플로 지정하고, 인덱스 이름을 지정하여 다음 사진과 같은 데이터 프레임을 만들어보자.

![image.png]()

In [ ]:
df = pd.DataFrame(
    {"survived":[0,1,1,1,0],
     "pclass":[3,1,3,1,3],
     "sex":['male','female','female','female','male'],
     "age":[22.0,38.0,26.0,35.0,35.0]},
     index=pd.MultiIndex.from_tuples(
         [('a',1),('b',2),('b',3),('c',4),('c',5)],
         names=['n', 'PassengerId']
     )
)

In [ ]:
df

               survived  pclass     sex   age
n PassengerId
a 1                   0       3    male  22.0
b 2                   1       1  female  38.0
  3                   1       3  female  26.0
c 4                   1       1  female  35.0
  5                   0       3    male  35.0