<a href="https://colab.research.google.com/github/ChaelinL/Pandas_Study/blob/main/2%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C2_%EC%9D%B4%EC%B1%84%EB%A6%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 판다스 라이브러리 불러오기

import를 통해 판다스 라이브러리를 불러오자.

In [ ]:
import pandas as pd

## **데이터 프레임 만들기**

아래 사진과 같이 데이터 프레임을 만들어보고 출력해보자.


![화면 캡처 2023-02-15 174455.jpg]()

In [ ]:
df = pd.DataFrame(
    {'이름': ['용용', '용용', '줄줄', '철수', '영희'],
     '나이': [32, 32, 28, 27, 28],
     '국적': ['대한민국', '대한민국', '영국', '싱가포르', '브라질']},
     index=[0,1,2,3,4]
)
df

   이름  나이    국적
0  용용  32  대한민국
1  용용  32  대한민국
2  줄줄  28    영국
3  철수  27  싱가포르
4  영희  28   브라질

## **1. 특정 열에 어떤 값이 몇 개 들어 있는지 확인해보자.**

'이름', '나이', '국적' 열에 각각 어떤 값이 몇 개 들어 있는지 확인하자.

In [ ]:
print(df['이름'].value_counts())
print(df['나이'].value_counts())
print(df['국적'].value_counts())

용용    2
줄줄    1
철수    1
영희    1
Name: 이름, dtype: int64
32    2
28    2
27    1
Name: 나이, dtype: int64
대한민국    2
영국      1
싱가포르    1
브라질     1
Name: 국적, dtype: int64

## **2. 데이터 프레임의 행이 몇 개인지 세어 보자.**

In [ ]:
len(df)

5

## **3. 데이터 프레임의 행과 열이 몇 개인지 세어 보자.**

In [ ]:
df.shape

(5, 3)

## **4. 특정 열에 유니크한 값이 몇 개인지 세어 보기**

'국적' 열에 유니크한 값이 몇 개인지 세어보자.

In [ ]:
df['국적'].nunique()

4

## **5. 데이터 프레임의 형태 한눈에 보기**

In [ ]:
df.describe()

              나이
count   5.000000
mean   29.400000
std     2.408319
min    27.000000
25%    28.000000
50%    28.000000
75%    32.000000
max    32.000000

## **6. 중복 검증의 기준을 '국적'으로 하여 데이터프레임을 조사해보자.**
힌트= .duplicated

In [ ]:
df['국적'].duplicated()
# df.duplicated(subset='국적')

0    False
1     True
2    False
3    False
4    False
Name: 국적, dtype: bool

## **7-1. 중복된 값 제거하기(모든 열 기준)**
제거후 데이터 프레임을 출력해보자.

In [ ]:
df.drop_duplicates()

   이름  나이    국적
0  용용  32  대한민국
2  줄줄  28    영국
3  철수  27  싱가포르
4  영희  28   브라질

## **7-2. 중복된 값 제거하기(지정된 열을 기준)**

아직 각 열에는 여전히 중복되는 데이터가 남아있다. 
 '나이'열로 지정하여 중복을 제거해보고 데이터 프레임을 출력해보자.

In [ ]:
df.drop_duplicates(subset='나이')
# df['나이'].drop_duplicates()

   이름  나이    국적
0  용용  32  대한민국
2  줄줄  28    영국
3  철수  27  싱가포르