<a href="https://colab.research.google.com/github/ChaelinL/Pandas_Study/blob/main/2%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C1_%EC%9D%B4%EC%B1%84%EB%A6%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **E. 행과 열 추출하기**

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
  {"a" : [0,4,8,5,7,9,6],
  "b" : [3,1,3,1,2,3,5],
  "c" : ['A', 'B','K', 'C', 'K','E','K'],
  "d" : [22.0, 38.0,0,26.0,35.0,35.0,3.4]},
  index = pd.MultiIndex.from_tuples(# 인덱스를 튜플로 지정
      [('a', 1),('b', 2),('b', 3),('c', 4),('c', 5),('c', 6),('d', 7)],
      names=['n','v']
  )
)

df

     a  b  c     d
n v
a 1  0  3  A  22.0
b 2  4  1  B  38.0
  3  8  3  K   0.0
c 4  5  1  C  26.0
  5  7  2  K  35.0
  6  9  3  E  35.0
d 7  6  5  K   3.4

In [ ]:
#28. 특정 행과 열을 지정해 가져오기
#모든 인덱스에서 b열부터 d열 까지 가져오기
df.loc[:, 'b':'d']

     b  c     d
n v
a 1  3  A  22.0
b 2  1  B  38.0
  3  3  K   0.0
c 4  1  C  26.0
  5  2  K  35.0
  6  3  E  35.0
d 7  5  K   3.4

In [ ]:
#29. 인덱스로 특정 행과 열 가져오기

#2 인덱스부터 4 인덱스까지 1번째 열과 2번째 열을 가져오기
df.iloc[2:4,[1,2]]

     b  c
n v
b 3  3  K
c 4  1  C

In [ ]:
#30. 특정 열에서 조건을 만족하는 행과 열 가져오기
#a열의 값 중에서 5 보다 크며 c열의 값이 K인 행이 속한 a와 c열을 a열의 값을 기준으로 오름차순으로 출력

df.loc[(df['a'] > 5)&(df['c'] == 'K'), ['a', 'c']].sort_values('a', ascending=True)

     a  c
n v
d 7  6  K
c 5  7  K
b 3  8  K

In [ ]:
#31. 인덱스를 이용해 특정 조건을 만족하는 값 불러오기
#3번째 행의 4번째 열의 값 출력하기
df.iat[2,3]

0.0