<a href="https://colab.research.google.com/github/ChaelinL/Pandas_Study/blob/main/2%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C4_%EC%9D%B4%EC%B1%84%EB%A6%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **H. 결측치 다루기**

## **1. 전국 도시 공원 표준 데이터로 결측치 다뤄보기**

In [1]:
# 필요한 라이브러리를 로드합니다.
import pandas as pd
import numpy as np

In [9]:
# 데이터를 가져옵니다.
from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv('/content/drive/My Drive/전국도시공원표준데이터.csv', encoding="cp949")
df.shape

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

(18137, 20)

In [10]:
# 데이터가 어떻게 생겼는지 확인해봅시다.
df.head()

,관리번호,공원명,공원구분,소재지도로명주소,소재지지번주소,위도,경도,공원면적,공원보유시설(운동시설),공원보유시설(유희시설),공원보유시설(편익시설),공원보유시설(교양시설),공원보유시설(기타시설),지정고시일,관리기관명,전화번호,데이터기준일자,제공기관코드,제공기관명,Unnamed: 19
0,26440-00001,구랑공원,문화공원,NaN,부산광역시 강서구 구랑동 1199-7,35.157215,128.854935,9137.0,4,NaN,화장실,NaN,"팔각정자, 파고라2, 평의자6, 앉음벽14.38m, 축구장(골대2), 컨테이너, 안...",2011-09-02,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구,NaN
1,26440-00002,압곡공원,근린공원,NaN,부산광역시 강서구 구랑동 1219,35.154655,128.854727,33756.0,4,NaN,NaN,NaN,"배드민턴장, 족구장, 파고라4, 안내판, 볼라드7, 데크435.11㎡, 데크계단19...",2008-02-28,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구,NaN
2,26440-00003,서연정공원,소공원,NaN,부산광역시 강서구 대저1동 1330-7,35.216183,128.969558,646.0,7,NaN,NaN,NaN,"앉음벽13.57m, 트렐리스3, 안내판2, 플랜트2, 파고라, 평의자4",2013-01-23,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구,NaN
3,26440-00004,용두공원,어린이공원,NaN,부산광역시 강서구 대저2동 1870-67,35.183679,128.956007,1620.0,NaN,"조합놀이기구, 그네",NaN,NaN,"정자, 농구장, 평의자6",1998-07-25,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구,NaN
4,26440-00005,새동내공원,어린이공원,NaN,부산광역시 강서구 대저2동 2407-1,35.174568,128.950612,1009.0,8,"조합놀이기구, 그네, 흔들놀이기구2",NaN,NaN,"정자, 평의자14, 트렐리스2, 안내판, 볼라드",1995-04-07,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구,NaN

In [11]:
# 데이터의 기본 정보입니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18137 entries, 0 to 18136
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   관리번호          18137 non-null  object
 1   공원명           18137 non-null  object
 2   공원구분          18137 non-null  object
 3   소재지도로명주소      8039 non-null   object
 4   소재지지번주소       17158 non-null  object
 5   위도            18137 non-null  float64
 6   경도            18137 non-null  float64
 7   공원면적          18137 non-null  float64
 8   공원보유시설(운동시설)  4845 non-null   object
 9   공원보유시설(유희시설)  6964 non-null   object
 10  공원보유시설(편익시설)  5084 non-null   object
 11  공원보유시설(교양시설)  1160 non-null   object
 12  공원보유시설(기타시설)  3116 non-null   object
 13  지정고시일         15225 non-null  object
 14  관리기관명         17383 non-null  object
 15  전화번호          16957 non-null  object
 16  데이터기준일자       18137 non-null  object
 17  제공기관코드        18137 non-null  object
 18  제공기관명         18137 non-null  object
 19  Unnamed: 19   0 non-null      float64
dtypes: float64(4), object(16)
memory usage: 2.8+ MB

---

### **47. null 값인지 확인하기**

In [17]:
# 결측치의 수를 구합니다.
pd.isnull(df).sum()

관리번호                0
공원명                 0
공원구분                0
소재지도로명주소        10098
소재지지번주소           979
위도                  0
경도                  0
공원면적                0
공원보유시설(운동시설)    13292
공원보유시설(유희시설)    11173
공원보유시설(편익시설)    13053
공원보유시설(교양시설)    16977
공원보유시설(기타시설)    15021
지정고시일            2912
관리기관명             754
전화번호             1180
데이터기준일자             0
제공기관코드              0
제공기관명               0
Unnamed: 19     18137
dtype: int64

---

### **48. null 값이 아닌지 확인하기**

In [18]:
# 반대로 결측치가 아닌 값의 수도 살펴보겠습니다.
pd.notnull(df).sum()

관리번호            18137
공원명             18137
공원구분            18137
소재지도로명주소         8039
소재지지번주소         17158
위도              18137
경도              18137
공원면적            18137
공원보유시설(운동시설)     4845
공원보유시설(유희시설)     6964
공원보유시설(편익시설)     5084
공원보유시설(교양시설)     1160
공원보유시설(기타시설)     3116
지정고시일           15225
관리기관명           17383
전화번호            16957
데이터기준일자         18137
제공기관코드          18137
제공기관명           18137
Unnamed: 19         0
dtype: int64

In [19]:
# 결측치 비율 구하기
# 결측의 평균을 통해 비율을 구하고 100을 곱해줍니다.

round(pd.isnull(df).mean()*100,2)

관리번호              0.00
공원명               0.00
공원구분              0.00
소재지도로명주소         55.68
소재지지번주소           5.40
위도                0.00
경도                0.00
공원면적              0.00
공원보유시설(운동시설)     73.29
공원보유시설(유희시설)     61.60
공원보유시설(편익시설)     71.97
공원보유시설(교양시설)     93.60
공원보유시설(기타시설)     82.82
지정고시일            16.06
관리기관명             4.16
전화번호              6.51
데이터기준일자           0.00
제공기관코드            0.00
제공기관명             0.00
Unnamed: 19     100.00
dtype: float64

---

### **49. null 값이 있는 행 삭제하기**

#### **1) 모두 null 값으로 이뤄진 열 삭제하기**

**'Unnamed: 19' 열은 전부 NaN값으로 이루어져있음을 확인할 수 있었습니다. 이 열은 불필요할 것 같으니 제거해줍시다.행을 삭제할 것인지 열을 삭제할 것인지는 메서드의 axis 옵션을 통해 설정 가능합니다.** 

**우리는 결측치 비율을 구하는 과정을 통해 해당 열이 전부 NaN값으로 이루어져있다는 사실을 이미 알았지만, 메서드의 how 옵션을 통해 전부 결측치로 이루어진 열만 삭제할 수 있습니다다.**

In [22]:
df = df.dropna(axis=1, how='all')
df

,관리번호,공원명,공원구분,소재지도로명주소,소재지지번주소,위도,경도,공원면적,공원보유시설(운동시설),공원보유시설(유희시설),공원보유시설(편익시설),공원보유시설(교양시설),공원보유시설(기타시설),지정고시일,관리기관명,전화번호,데이터기준일자,제공기관코드,제공기관명
0,26440-00001,구랑공원,문화공원,NaN,부산광역시 강서구 구랑동 1199-7,35.157215,128.854935,9137.0,4,NaN,화장실,NaN,"팔각정자, 파고라2, 평의자6, 앉음벽14.38m, 축구장(골대2), 컨테이너, 안...",2011-09-02,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구
1,26440-00002,압곡공원,근린공원,NaN,부산광역시 강서구 구랑동 1219,35.154655,128.854727,33756.0,4,NaN,NaN,NaN,"배드민턴장, 족구장, 파고라4, 안내판, 볼라드7, 데크435.11㎡, 데크계단19...",2008-02-28,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구
2,26440-00003,서연정공원,소공원,NaN,부산광역시 강서구 대저1동 1330-7,35.216183,128.969558,646.0,7,NaN,NaN,NaN,"앉음벽13.57m, 트렐리스3, 안내판2, 플랜트2, 파고라, 평의자4",2013-01-23,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구
3,26440-00004,용두공원,어린이공원,NaN,부산광역시 강서구 대저2동 1870-67,35.183679,128.956007,1620.0,NaN,"조합놀이기구, 그네",NaN,NaN,"정자, 농구장, 평의자6",1998-07-25,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구
4,26440-00005,새동내공원,어린이공원,NaN,부산광역시 강서구 대저2동 2407-1,35.174568,128.950612,1009.0,8,"조합놀이기구, 그네, 흔들놀이기구2",NaN,NaN,"정자, 평의자14, 트렐리스2, 안내판, 볼라드",1995-04-07,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18132,28140-00009,송림4공원,어린이공원,NaN,인천광역시 동구 송림동 291-6,37.478715,126.653257,412.9,NaN,야외무대,NaN,NaN,"조형파고라, 앉음벽",1998-07-20,인천광역시 동구청,032-770-6205,2019-07-30,3500000,인천광역시 동구
18133,47760-00002,서부공원,근린공원,NaN,경상북도 영양군 영양읍 서부리 123,36.660456,129.114953,56045.0,NaN,NaN,화장실,NaN,NaN,1973-03-02,경상북도 영양군청,054-680-6340,2019-09-05,5170000,경상북도 영양군
18134,47760-00003,입암공원,근린공원,NaN,경상북도 영양군 입암면 신구리 산27-5,36.594802,129.093007,109262.0,NaN,NaN,NaN,NaN,NaN,1977-06-29,경상북도 영양군청,054-680-6340,2019-09-05,5170000,경상북도 영양군
18135,47760-00004,수비공원,근린공원,NaN,경상북도 영양군 수비면 발리리 산48,36.761440,129.200011,67159.0,NaN,NaN,NaN,NaN,NaN,1978-02-14,경상북도 영양군청,054-680-6340,2019-09-05,5170000,경상북도 영양군
18136,47760-00005,삼지연꽃 테마파크,수변공원,NaN,경상북도 영양군 영양읍 삼지리 200,36.662816,129.129372,380000.0,NaN,NaN,화장실,NaN,체험장,2009-11-19,경상북도 영양군청,054-680-6340,2019-09-05,5170000,경상북도 영양군

**19 columns라고 값이 바뀌었네요. 'Unnamed: 19' 열이 잘 지워진 것을 확인할 수 있습니다.**

#### **2) 결측치가 특정 개수, 특정 비율 이상안 열/행 drop하기**

**'소재지도로명주소' 열 또한 55%나 결측치로 이루어진 것을 확인할 수 있었습니다. 특정 열이나 행에서 결측치의 값이 특정 개수 이상이거나, 특정 비율 이상이라면 drop하도록 할 수도 있습니다.**

In [23]:
# 결측치의 비율이 50% 이상인 열을 제거해봅시다. 
# 위에서 구한 결측치 비율을 활용하여 제거할 열을 뽑고 drop시키면 됩니다.

df2 = df.drop(columns=df.columns[pd.isnull(df).mean()*100 >= 0.5], axis=1)

# 얼마나 많은 열이 제거되었는지 확인해봅시다.
print(len(df.columns),len(df2.columns))

19 9

In [24]:
# 결측치의 개수가 7개 이상인 행을 제거해봅시다. 메서드의 thresh 옵션을 통해 설정할 수 있습니다.
df3 = df.dropna(thresh=13, axis=0)  # thresh => 축을 기준으로 n개 미만 입력되면 해당 축 제거 (따라서 20개의 행 중 결측치가 7개 이상이려면 n=13)

# 얼마나 많은 행이 제거되었는지 확인해봅시다.
print(df.shape,df3.shape)

(18137, 19) (16036, 19)

---

### **50. null 값을 특정 값으로 대체하기**
위에서 열 별로 null 값의 수와 비율을 계산하면서, 도로명 주소의 결측치 비율이 55%나 되는 것을 확인하였습니다. 이를 대체하기 위해서 도로명 주소와 지번 주소 중 하나만 있을 때는 나머지 데이터로 결측치를 대체해봅시다.

In [25]:
# 도로명 주소의 널값 수
df['소재지도로명주소'].isnull().sum()

10098

In [26]:
# 지번 주소의 널값 수
df['소재지지번주소'].isnull().sum()

979

In [31]:
# "소재지도로명주소"와 "소재지지번주소"가 모두 결측치가 아닌 데이터를 찾습니다.
df[(df['소재지도로명주소'].notnull() & df['소재지지번주소'].notnull())].shape

(7060, 19)

In [34]:
# "소재지도로명주소"의 결측치를 fillna 를 통해 "소재지지번주소"로 채웁니다.
df['소재지도로명주소'] = df['소재지도로명주소'].fillna('소재지지번주소')
df

<ipython-input-34-e5960e82f876>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['소재지도로명주소'] = df['소재지도로명주소'].fillna('소재지지번주소')

,관리번호,공원명,공원구분,소재지도로명주소,소재지지번주소,위도,경도,공원면적,공원보유시설(운동시설),공원보유시설(유희시설),공원보유시설(편익시설),공원보유시설(교양시설),공원보유시설(기타시설),지정고시일,관리기관명,전화번호,데이터기준일자,제공기관코드,제공기관명
0,26440-00001,구랑공원,문화공원,소재지지번주소,부산광역시 강서구 구랑동 1199-7,35.157215,128.854935,9137.0,4,NaN,화장실,NaN,"팔각정자, 파고라2, 평의자6, 앉음벽14.38m, 축구장(골대2), 컨테이너, 안...",2011-09-02,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구
1,26440-00002,압곡공원,근린공원,소재지지번주소,부산광역시 강서구 구랑동 1219,35.154655,128.854727,33756.0,4,NaN,NaN,NaN,"배드민턴장, 족구장, 파고라4, 안내판, 볼라드7, 데크435.11㎡, 데크계단19...",2008-02-28,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구
2,26440-00003,서연정공원,소공원,소재지지번주소,부산광역시 강서구 대저1동 1330-7,35.216183,128.969558,646.0,7,NaN,NaN,NaN,"앉음벽13.57m, 트렐리스3, 안내판2, 플랜트2, 파고라, 평의자4",2013-01-23,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구
3,26440-00004,용두공원,어린이공원,소재지지번주소,부산광역시 강서구 대저2동 1870-67,35.183679,128.956007,1620.0,NaN,"조합놀이기구, 그네",NaN,NaN,"정자, 농구장, 평의자6",1998-07-25,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구
4,26440-00005,새동내공원,어린이공원,소재지지번주소,부산광역시 강서구 대저2동 2407-1,35.174568,128.950612,1009.0,8,"조합놀이기구, 그네, 흔들놀이기구2",NaN,NaN,"정자, 평의자14, 트렐리스2, 안내판, 볼라드",1995-04-07,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18132,28140-00009,송림4공원,어린이공원,소재지지번주소,인천광역시 동구 송림동 291-6,37.478715,126.653257,412.9,NaN,야외무대,NaN,NaN,"조형파고라, 앉음벽",1998-07-20,인천광역시 동구청,032-770-6205,2019-07-30,3500000,인천광역시 동구
18133,47760-00002,서부공원,근린공원,소재지지번주소,경상북도 영양군 영양읍 서부리 123,36.660456,129.114953,56045.0,NaN,NaN,화장실,NaN,NaN,1973-03-02,경상북도 영양군청,054-680-6340,2019-09-05,5170000,경상북도 영양군
18134,47760-00003,입암공원,근린공원,소재지지번주소,경상북도 영양군 입암면 신구리 산27-5,36.594802,129.093007,109262.0,NaN,NaN,NaN,NaN,NaN,1977-06-29,경상북도 영양군청,054-680-6340,2019-09-05,5170000,경상북도 영양군
18135,47760-00004,수비공원,근린공원,소재지지번주소,경상북도 영양군 수비면 발리리 산48,36.761440,129.200011,67159.0,NaN,NaN,NaN,NaN,NaN,1978-02-14,경상북도 영양군청,054-680-6340,2019-09-05,5170000,경상북도 영양군
18136,47760-00005,삼지연꽃 테마파크,수변공원,소재지지번주소,경상북도 영양군 영양읍 삼지리 200,36.662816,129.129372,380000.0,NaN,NaN,화장실,NaN,체험장,2009-11-19,경상북도 영양군청,054-680-6340,2019-09-05,5170000,경상북도 영양군

In [35]:
# "소재지도로명주소"의 결측치수를 세어봅니다.
df['소재지도로명주소'].isnull().sum()

0

---

## **2. 결측치를 처리하는 다른 여러 방법**
결측치를 임의의 동일한 값으로 채우지 않고 평균이나 표준편차 값을 계산하여 대체하는 것을 교재에서 살펴보았습니다. 하지만 결측치를 앞의 값이나 뒤의 값으로 채우거나, 보간(interpolation)법을 사용한 계산 결과로도 채울 수 있습니다.

### **51. null 값을 특정 계산 결과로 대체하기** 

**1) 보간법을 사용하여 채우기**

시계열 데이터나 연속된 수치를 가지는 데이터의 경우에는 일종의 **연속성있는 패턴**을 발견할 수 있습니다. 이런 경우 보간(Interpolation)을 통해 앞, 뒤 값을 가지고 유추하여 좀 더 잘 결측치를 채워줄 수 있습니다.  

보간은 DataFrame이나 Series에 interpolate 메서드를 적용하면 바로 결측치가 채워집니다. method 옵션을 사용하여서 어떤 값을 기준으로 할 지 지정할 수 있습니다.

In [36]:
from pandas import DataFrame, Series
from datetime import datetime
datestrs = ['12/1/2016', '12/03/2016', '12/04/2016', '12/10/2016']
dates = pd.to_datetime(datestrs)
ts = Series([1, np.nan, np.nan, 10], index=dates)

In [37]:
# 시계열데이터의 값에 선형으로 비례하는 방식으로 결측값을 보간합니다.
ts_intp_linear = ts.interpolate()
ts_intp_linear

2016-12-01     1.0
2016-12-03     4.0
2016-12-04     7.0
2016-12-10    10.0
dtype: float64

In [39]:
# 시계열 날짜 인덱스를 기준으로 결측값을 보간합니다.
ts_intp_time = ts.interpolate(method='time')
ts_intp_time

2016-12-01     1.0
2016-12-03     3.0
2016-12-04     4.0
2016-12-10    10.0
dtype: float64

In [40]:
# NaN 값이 포함되어 있는 새로운 데이터프레임을 만듭니다.
df4 = DataFrame({'C1': [1, 2, np.nan, np.nan, 5],
     'C2': [6, 8, 10, np.nan, 20]})
df4

    C1    C2
0  1.0   6.0
1  2.0   8.0
2  NaN  10.0
3  NaN   NaN
4  5.0  20.0

In [42]:
# 데이터프레임 값에 선형으로 비례하는 방식으로 결측치를 보간합니다.
df_intp_values = df4.interpolate()
df_intp_values

    C1    C2
0  1.0   6.0
1  2.0   8.0
2  3.0  10.0
3  4.0  15.0
4  5.0  20.0

**2) 앞의 값이나 뒤의 값으로 채우기**

fillna 메서드의 method 옵션을 조정하면 앞의 값이나 뒤의 값으로 결측치를 채울 수 있습니다.

In [43]:
# 앞의 값으로 채워봅시다.
df4.fillna(method='ffill')

    C1    C2
0  1.0   6.0
1  2.0   8.0
2  2.0  10.0
3  2.0  10.0
4  5.0  20.0

In [44]:
df4 = DataFrame({'C1': [1, 2, np.nan, np.nan, 5],
     'C2': [6, 8, 10, np.nan, 20]})

In [45]:
# 뒤의 값으로  채워봅시다.
df4.fillna(method='bfill')

    C1    C2
0  1.0   6.0
1  2.0   8.0
2  5.0  10.0
3  5.0  20.0
4  5.0  20.0