<a href="https://colab.research.google.com/github/ChaelinL/Pandas_Study/blob/main/2%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C3_%EC%9D%B4%EC%B1%84%EB%A6%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from vega_datasets import data

In [ ]:
#데이터 불러오기
airports = data.airports()

In [ ]:
#데이터 잘 불러왔는지 확인(데이터를 위에서 부터 다섯줄 출력)
airports.head()

,iata,name,city,state,country,latitude,longitude
0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944

In [ ]:
#latitude, longitude 부분만 남기기
airports = airports.loc[:,['latitude', 'longitude']]
airports.head()

    latitude   longitude
0  31.953765  -89.234505
1  30.685861  -95.017928
2  38.945749 -104.569893
3  42.741347  -78.052081
4  30.688012  -81.905944

In [ ]:
#각 열의 합 구하기
airports.sum()

latitude     135163.303760
longitude   -332945.187808
dtype: float64

In [ ]:
#각 열의 값 개수 세기
airports.count()

latitude     3376
longitude    3376
dtype: int64

In [ ]:
#데이터 중앙값 출력
airports.median()

latitude     39.434449
longitude   -93.599425
dtype: float64

In [ ]:
#데이터의 50% 지점 값 출력
airports.quantile([0.5])

      latitude  longitude
0.5  39.434449 -93.599425

In [ ]:
#latitude 열의 평균과 표준편차 출력
print("평균:", airports['latitude'].mean(), "\n표준편차:", airports['latitude'].std())

평균: 40.03652362552429
표준편차: 8.329558669019436

In [ ]:
import numpy as np
#데이터를 소수점 둘째자리에서 반올림. Hint! lambda 식 활용
airports.apply(lambda x: round(x,2))

      latitude  longitude
0        31.95     -89.23
1        30.69     -95.02
2        38.95    -104.57
3        42.74     -78.05
4        30.69     -81.91
...        ...        ...
3371     36.28     -80.79
3372     40.71     -76.37
3373     28.23     -82.16
3374     35.08    -108.79
3375     39.94     -81.89

[3376 rows x 2 columns]