<a href="https://colab.research.google.com/github/ChaelinL/Pandas_Study/blob/main/3%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C3_%EC%9D%B4%EC%B1%84%EB%A6%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **K. 시리즈 데이터 연결하기**

In [ ]:
import pandas as pd

다음과 같은 시리즈 객체 두 개를 만들겠습니다.

In [ ]:
s1 = pd.Series(['부산', '울산', '대전', '인천'])
s1

0    부산
1    울산
2    대전
3    인천
dtype: object

In [ ]:
s2 = pd.Series(['전주', '순천', '춘천', '오산'])
s2

0    전주
1    순천
2    춘천
3    오산
dtype: object

시리즈 객체 s1과 s2를 합치겠습니다.

In [ ]:
pd.concat([s1, s2])

0    부산
1    울산
2    대전
3    인천
0    전주
1    순천
2    춘천
3    오산
dtype: object

인덱스가 보기 안좋네요. 시리즈객체 s1과 s2를 합치되, 다음과 같이 새로운 인덱스를 만들겠습니다.

In [ ]:
pd.concat([s1, s2], ignore_index=True)

0    부산
1    울산
2    대전
3    인천
4    전주
5    순천
6    춘천
7    오산
dtype: object

조금 더 정리하겠습니다.

In [ ]:
pd.concat([s1, s2], keys=['광역시','시'], names=['행정구역'])

행정구역
광역시   0    부산
      1    울산
      2    대전
      3    인천
시     0    전주
      1    순천
      2    춘천
      3    오산
dtype: object