<a href="https://colab.research.google.com/github/ChaelinL/Pandas_Study/blob/main/3%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C4_%EC%9D%B4%EC%B1%84%EB%A6%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

과제K에서 concat을 사용하는 법을 대충 익혔으니, 실제 상황에서 어떻게 사용할 수 있는지 알아보겠습니다.

문제는 쉽게 제작하였으니, 실제 상황에서 어떤 경우에 사용할 수 있을지에 초점을 맞추시면 좋을 것 같습니다 :)

**가상화폐의 가격을 불러오는 예제를 해보도록 하겠습니다.** 

**먼저 아래의 모듈을 설치해주세요. 아래의 모듈은 비트코인의 가격을 불러오는 모듈입니다.**

In [ ]:
!pip install pyupbit

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyupbit
  Downloading pyupbit-0.2.33-py3-none-any.whl (24 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pyupbit) (1.3.5)
Collecting websockets
  Downloading websockets-10.4-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (106 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 107.0/107.0 KB 2.4 MB/s eta 0:00:00
Collecting pyjwt>=2.0.0
  Downloading PyJWT-2.6.0-py3-none-any.whl (20 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from pyupbit) (2.25.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pyupbit) (1.22.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pyupbit) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pyupbit) (2.8.2)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->pyupbit) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->pyupbit) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->pyupbit) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->pyupbit) (2022.12.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->pyupbit) (1.15.0)
Installing collected packages: websockets, pyjwt, pyupbit
Successfully installed pyjwt-2.6.0 pyupbit-0.2.33 websockets-10.4

In [ ]:
import pyupbit
import pandas as pd
import time

**pyupbit의 get_ohlcv를 통해 비트코인의 현재 시가를 알아오도록 하겠습니다.**

**간략히 설명해드리자면, get_ohlcv는 원하는 가상화폐의 open(시가), high(고가), low(저가), close(종가), volume(거래량)을 얻어옵니다.**

**interval을 통해 시간 단위를 설정할 수 있고, to를 통해 언제까지의 가격을 알아올지 설정할 수 있습니다.**


*자세한 내용은 다음을 참고하세요.*

*https://github.com/sharebook-kr/pyupbit*

In [ ]:
df = pyupbit.get_ohlcv("KRW-BTC", to ="20230220")

In [ ]:
df

,open,high,low,close,volume,value
2022-08-04 09:00:00,30708000.0,30980000.0,30159000.0,30315000.0,5092.111161,1.560295e+11
2022-08-05 09:00:00,30318000.0,30990000.0,30261000.0,30767000.0,5525.870434,1.694478e+11
2022-08-06 09:00:00,30767000.0,30843000.0,30509000.0,30534000.0,2650.633559,8.142511e+10
2022-08-07 09:00:00,30534000.0,30899000.0,30440000.0,30685000.0,2514.515032,7.701918e+10
2022-08-08 09:00:00,30695000.0,31925000.0,30680000.0,31459000.0,5716.184413,1.799489e+11
...,...,...,...,...,...,...
2023-02-15 09:00:00,28782000.0,31400000.0,28611000.0,31186000.0,12911.880829,3.812376e+11
2023-02-16 09:00:00,31183000.0,32458000.0,30400000.0,30451000.0,12781.370262,4.038625e+11
2023-02-17 09:00:00,30466000.0,32090000.0,30278000.0,31641000.0,9141.337837,2.844220e+11
2023-02-18 09:00:00,31641000.0,32014000.0,31498000.0,31789000.0,5267.640332,1.673712e+11
2023-02-19 09:00:00,31789000.0,32370000.0,31400000.0,31435000.0,8172.916254,2.603672e+11

**하루 단위로 불러왔는데요, 받아온 데이터를 확인해보니, 200개 정도밖에 되지 않네요**

**200개의 데이터, 즉 200일동안 이루어진 거래밖에 확인할 수 없는 것인데요. 금융데이터분석을 하기에는 너무 적은 양일 수 있죠**


---

**그럼 어떻게하면 더 많은 양의 데이터를 불러 올 수 있을지 알아볼까요?**

**불러온 데이터의 index를 확인해보니 시간으로 이루어져 있네요. 일단 데이터프레임의 인덱스를 확인해보죠**

In [ ]:
df.index

DatetimeIndex(['2022-08-04 09:00:00', '2022-08-05 09:00:00',
               '2022-08-06 09:00:00', '2022-08-07 09:00:00',
               '2022-08-08 09:00:00', '2022-08-09 09:00:00',
               '2022-08-10 09:00:00', '2022-08-11 09:00:00',
               '2022-08-12 09:00:00', '2022-08-13 09:00:00',
               ...
               '2023-02-10 09:00:00', '2023-02-11 09:00:00',
               '2023-02-12 09:00:00', '2023-02-13 09:00:00',
               '2023-02-14 09:00:00', '2023-02-15 09:00:00',
               '2023-02-16 09:00:00', '2023-02-17 09:00:00',
               '2023-02-18 09:00:00', '2023-02-19 09:00:00'],
              dtype='datetime64[ns]', length=200, freq=None)

**인덱스가 DatetimeIndex로 이루어져 있네요**

**그런데 get_ohlcv의 to 파라미터에는 시간을 넣었었죠?**

**to 파라미터에 df의 첫 인덱스를 넣으면 그 다음 데이터도 불러올 수 있겠네요!**


---

**우선 첫 인덱스를 확인해보죠**

In [ ]:
index = df.index[0]
index

Timestamp('2022-08-04 09:00:00')

**index까지의 데이터를 볼러와볼까요?**

to 파라미터는 DateIndex의 날짜단위만 입력받습니다만, 편리하게도 따로 시간 단위를 잘라내도 되지 않습니다. (즉, to에 index를 바로 입력하면 됩니다.)

In [ ]:
pyupbit.get_ohlcv("KRW-BTC", interval="minute60", to = index)

,open,high,low,close,volume,value
2022-07-27 10:00:00,28248000.0,28340000.0,28167000.0,28266000.0,255.370180,7.215812e+09
2022-07-27 11:00:00,28291000.0,28430000.0,28221000.0,28407000.0,423.222153,1.198673e+10
2022-07-27 12:00:00,28407000.0,28425000.0,28167000.0,28199000.0,329.051679,9.308889e+09
2022-07-27 13:00:00,28199000.0,28247000.0,28165000.0,28227000.0,183.532006,5.177588e+09
2022-07-27 14:00:00,28227000.0,28401000.0,28180000.0,28386000.0,266.692568,7.544646e+09
...,...,...,...,...,...,...
2022-08-04 13:00:00,30802000.0,30903000.0,30789000.0,30807000.0,173.540314,5.353184e+09
2022-08-04 14:00:00,30812000.0,30880000.0,30780000.0,30859000.0,168.141511,5.180893e+09
2022-08-04 15:00:00,30859000.0,30905000.0,30570000.0,30683000.0,544.773336,1.671989e+10
2022-08-04 16:00:00,30678000.0,30786000.0,30650000.0,30670000.0,172.824991,5.310667e+09
2022-08-04 17:00:00,30670000.0,30723000.0,30570000.0,30574000.0,228.641533,7.005082e+09

**이제 for문을 이용하여 리스트에 df를 넣고 합쳐봅시다!**

In [ ]:
dfs = []
df = pyupbit.get_ohlcv("KRW-BTC", interval="minute1", to ="20230222 23:00:00")
dfs.append(df)

for i in range(5):
    df = pyupbit.get_ohlcv("KRW-BTC", to = df.index[0]) #to: 출력할 max date time을 지정
    dfs.append(df)
    time.sleep(0.1) #한 번에 너무 많은 데이터를 요청하면 웹서버에서 차단할 수 있음

df = pd.concat(dfs) #list안에 있는 데이터프레임을 하나로 합쳐줌
df = df.sort_index(ascending=False)#df를 index 기준으로 정렬

제대로 됐는지 확인해볼까요?

In [ ]:
df

,open,high,low,close,volume,value
2023-02-23 09:00:00,31638000.0,31999000.0,31542000.0,31939000.0,1132.314439,3.590610e+10
2023-02-23 07:59:00,31465000.0,31495000.0,31465000.0,31495000.0,3.168946,9.976255e+07
2023-02-23 07:58:00,31445000.0,31470000.0,31436000.0,31470000.0,6.879085,2.163709e+08
2023-02-23 07:57:00,31444000.0,31446000.0,31433000.0,31445000.0,4.416902,1.388843e+08
2023-02-23 07:56:00,31445000.0,31450000.0,31428000.0,31444000.0,6.499931,2.043659e+08
...,...,...,...,...,...,...
2020-06-07 09:00:00,11641000.0,11786000.0,11373000.0,11687000.0,2655.732320,3.068756e+10
2020-06-06 09:00:00,11601000.0,11699000.0,11512000.0,11641000.0,1459.868073,1.692394e+10
2020-06-05 09:00:00,11785000.0,11855000.0,11561000.0,11597000.0,2593.825824,3.041722e+10
2020-06-04 09:00:00,11659000.0,11865000.0,11470000.0,11784000.0,4182.022952,4.883305e+10
2020-06-03 09:00:00,11520000.0,11661000.0,11401000.0,11648000.0,3039.986053,3.506239e+10

200개씩 6개가 합쳐져서 총 1200개가 됐네요! 

이상으로, pybithumb의 get_ohlcv는 원래 200개까지밖에 불러올 수 없었지만, to 파라미터와 pandas의 concat기능을 활용하여 더 많은 양의 데이터를 불러올 수 있었습니다.

이를 통해 우리는 더 양질의 분석을 할 수 있겠네요!

*수고하셨습니다*