<a href="https://colab.research.google.com/github/ChaelinL/Pandas_Study/blob/main/6_%EC%A4%91%EB%B3%B5_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%8B%A4%EB%A3%A8%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.DataFrame(
    {"a": [4, 5, 6, 7, 7],
     "b": [8, 9, 10, 11, 11],
     "c": [12, 13, 14, 15, 15]},
     index=pd.MultiIndex.from_tuples(
         [('d',1), ('d', 2), ('e', 1), ('e', 2), ('e', 3)],
         names=['n', 'v']
     )
)

df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15
  3  7  11  15

**특정 열에 어떤 값이 몇 개 들어있는지 알아보기**

In [3]:
df['a'].value_counts()  # 출력결과 a열에 7이 2개, 4, 5, 6이 각각 1개씩 있다는 의미

7    2
4    1
5    1
6    1
Name: a, dtype: int64

**데이터 프레임의 행이 몇 개인지 세어보기**

In [4]:
len(df)

5

**데이터 프레임의 행과 열이 몇 개인지 세어보기**

In [5]:
df.shape

(5, 3)

**특정 열에 유니크한 값이 몇 개인지 세어보기**

In [6]:
df['a'].nunique()  # 출력결과가 4인 것은 a열에 4, 5, 6, 7로 총 중복제외 4가지 값이 존재한다는 의미

4

**데이터 프레임의 형태 한눈에 보기**

In [7]:
df.describe()

             a         b         c
count  5.00000   5.00000   5.00000
mean   5.80000   9.80000  13.80000
std    1.30384   1.30384   1.30384
min    4.00000   8.00000  12.00000
25%    5.00000   9.00000  13.00000
50%    6.00000  10.00000  14.00000
75%    7.00000  11.00000  15.00000
max    7.00000  11.00000  15.00000

In [ ]:
# cf. 데이터 파악하는 다른 함수

# 데이터프레임.shape => 데이터셋의 형태를 확인하기 위해 사용 (행과 열 개수)
df.shape

# 데이터프레임.info() => 데이터셋에 존재하는 열 이름과 열별 결측치, 열별 데이터타입을 확인할 때 사용
df.info()

# 데이터프레임.describe() => 데이터셋의 수치형 열별 주요 통계량을 요약할 때 사용
df.describe()

# 데이터프레임.hist() => 데이터프레임의 열별 히스토그램을 시각화
import seaborn as sns
import matplotlib.pyplot as plt
df.hist(figsize=(10, 9))
plt.tight_layout()
plt.show()

**중복된 값 제거하기**

In [9]:
df = df.drop_duplicates()
df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15