<a href="https://colab.research.google.com/github/ChaelinL/Pandas_Study/blob/main/7_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%8C%8C%EC%95%85%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.DataFrame(
    {"a": [4, 5, 6, 7],
     "b": [8, 9, 10, 11],
     "c": [12, 13, 14, 15]},
     index=pd.MultiIndex.from_tuples(
         [('d',1), ('d', 2), ('e', 1), ('e', 2)],
         names=['n', 'v']
     )
)
df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

**각 열의 합 보기**

In [2]:
df.sum()

a    22
b    38
c    54
dtype: int64

**각 열의 값이 모두 몇 개인지 보기**

In [3]:
df.count()

a    4
b    4
c    4
dtype: int64

**각 열의 중간값 보기**

In [4]:
df.median()

a     5.5
b     9.5
c    13.5
dtype: float64

**특정 열의 평균값 보기**

In [5]:
df['b'].mean()

9.5

**각 열의 25%, 75%에 해당하는 수 보기**

In [6]:
df.quantile([0.25, 0.75])

         a      b      c
0.25  4.75   8.75  12.75
0.75  6.25  10.25  14.25

**각 열의 최솟값 보기**

In [7]:
df.min()

a     4
b     8
c    12
dtype: int64

**각 열의 최댓값 보기**

In [8]:
df.max()

a     7
b    11
c    15
dtype: int64

**각 열의 표준편차 보기**

In [9]:
df.std()

a    1.290994
b    1.290994
c    1.290994
dtype: float64

**데이터 프레임 각 값에 일괄 함수 적용하기**

In [10]:
import numpy as np
df.apply(np.sqrt)  # 제곱근 구하기

            a         b         c
n v
d 1  2.000000  2.828427  3.464102
  2  2.236068  3.000000  3.605551
e 1  2.449490  3.162278  3.741657
  2  2.645751  3.316625  3.872983